@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f1f5f9;
}

* {
  font-family: 'Nunito Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dddddd;
}

td,
th {
  border: 1px solid #dddddd;
  border-left-width: 0px;
  border-right-width: 0px;
  text-align: left;
  padding: 8px;
}

@layer components {
  .btn {
    @apply px-6 py-1 bg-blue-500 rounded text-white;
  }

  .screen-60 {
    height: 60vh;
  }
}
